<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008343919631-nklp5t9rn8gsr8a6cp9rmo78gtvl6c4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008343919631-nklp5t9rn8gsr8a6cp9rmo78gtvl6c4s</string>
	<key>API_KEY</key>
	<string>AIzaSyBACmtc71BiKoV0ldBWx6xm1V6JeqFg2dU</string>
	<key>GCM_SENDER_ID</key>
	<string>1008343919631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.artBlogApp</string>
	<key>PROJECT_ID</key>
	<string>art-blog-app-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>art-blog-app-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008343919631:ios:6ca41efecc3e5a03c2c77a</string>
</dict>
</plist>